    
   
<%- include("partials/login_header"); -%>

<!-- data boxes -->

<div id="data-boxes" class="row">
    <div class="col-md-6">
        <div class="row left">
            <div class="col-12 left-element">
                <div class="row">
                    <h5>Current Weather: <%= city %></h5>
                    <div id="temp-box" class="col-7">
                        <img class="weather-img" src="<%= imageUrl %>">
                        <h1 class="tempData"><%= tempData %>°C</h1>
                        <p>Feels Like <%= feels_like %>°C</p>
                    </div>
                    <div id="wind-box" class="col-5">
                        <p class="ptag">Wind<span class="w-data"><%= wind %> Km/Hr</span></p>
                        <hr class="hrule">
                        <p class="ptag">Wind Gusts<span class="w-data"><%= gust %> Km/Hr</span></p>
                        <hr class="hrule">
                        <p class="ptag">Humidity<span class="w-data"><%= humidity %>%</span></p>
                    </div>
                    <h3><%= description %></h3>
                </div>
            </div>
        </div>
        <div class="row left">
            <div class="col-12 left-element">
                <div class="">
                    <div class="">
                        <div class="row visibility-header">
                            <div class="col-6">
                                <h2>Visibility</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col visibility-value">
                                <h3><%= visibility %> <span><p>Meters</p></span></h3>
                            </div>
                            <div class="col visibility-status">
                                
                                <% if(visibility <= 50){ %>
                                    <h3>Dense Fog</h3>
                                <% } else if(visibility > 50 && visibility <= 200) { %>
                                    <h3>Thick Fog</h3>
                                <% } else if(visibility > 200 && visibility <= 500){ %>
                                    <h3>Moderate Fog</h3>
                                <% } else if(visibility > 500 && visibility <= 1000) { %>
                                    <h3>Light Fog</h3>
                                <% } else if(visibility > 1000 && visibility <= 2000){ %>
                                    <h3>Thin Fog</h3>
                                <% } else if(visibility > 2000 && visibility <= 4000) { %>
                                    <h3>Haze</h3>
                                <% } else if(visibility > 4000 && visibility <= 10000){ %>
                                    <h3>Light Haze</h3>
                                <% } else if(visibility > 10000 && visibility <= 20000){ %>
                                    <h3>Clear</h3>
                                <% } else if(visibility > 20000 && visibility <= 50000) { %>
                                    <h3>Very Clear</h3>
                                <% } else if(visibility > 50000 && visibility <= 270000){ %>
                                    <h3>Exceptionally Clear</h3>
                                <% } else if(visibility > 270000){ %>
                                    <h3>Pure Air</h3>
                                <% } %>
                            
                            </div>
                        </div>
                        <div class="row know-more">
                            <p>Know more →</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row left">
            <div class="col-12 left-element">
                <div class="pricing-box">
                    <h2>Pricing</h2>
                    <p>Get weather data for any location on the globe immediately with our superb APIs! 
                        Start using minute forecasts, hourly forecasts, 
                        history and other weather data in your applications for free. For more functionality, 
                        please consider our generous subscriptions. <a class="pricing-link" href="/pricing?userName=<%= userName %>">Click Here</a> to know more.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row right">
            <div class="col-12 right-element">
                <div class="">
                    <h2 class="highlight-heading">Highlights</h2>
                    <div class="row">
                        <div class="col">
                            <h4><%= randomCity1 %><span class="h-data"><h1><%= randomCity1_temp %>°C</h1></span></h4>
                            <p class="h-data-feelsLike">Feels Like <%= randomCity1_feelsLike %></p>
                        </div>
                        <hr class="hrule">
                        <div class="col">
                            <h4><%= randomCity2 %><span class="h-data"><h1><%= randomCity2_temp %>°C</h1></span></h4>
                            <p class="h-data-feelsLike">Feels Like <%= randomCity1_feelsLike %></p>
                        </div>
                        <hr class="hrule">
                        <div class="col">
                            <h4><%= randomCity3 %><span class="h-data"><h1><%= randomCity3_temp %>°C</h1></span></h4>
                            <p class="h-data-feelsLike">Feels Like <%= randomCity1_feelsLike %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row right right-bottom">
            <div class="col-12 right-element">
                <div class="">
                    <br>
                    <h1>Hey</h1>
                    <h4>Want to get some latest weather updates delivered to your inbox, you are just one step away!</h4>
                    <br>
                    <form action="/newsletter">
                        <button class="btn btn-secondary btn-md" type="submit">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>